<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <form action="http://127.0.0.1:8001/questions/{{ id }}">
     <input type="submit" value="Back to question">
 </form>

 <form action="http://127.0.0.1:8001/questions/{{ id }}/add_new_answer", method="POST">
     <table>

         <tr>
            <td>Message: </td>
            <td><input type="text" size = "150" name="message"></td>
        </tr>

         <tr style="text-align: right; ">
             <td></td>
             <td ><input type="submit" value="Wyslij"></td>
         </tr>


     </table>

    </form>

</body>
</html>