<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table

       <tr>
           <td>
               <form action="http://127.0.0.1:8001/questions">
                    <input type="submit" value="Back to questions">
                   </form>
           </td>
           <td>
               <form action="http://127.0.0.1:8001/questions/{{ id }}/delete">
                    <input type="submit" value="Delete questions">
                   </form>
           </td>
           <td>
               <form action="http://127.0.0.1:8001/question/{{ id }}/vote_up">
                    <input type="submit" value="Vote UP">
                   </form>
           </td>
           <td>
               <form action="http://127.0.0.1:8001/question/{{ id }}/vote_down">
                    <input type="submit" value="Vote DOWN">
                   </form>
           </td>
           <td>
               <form action="http://127.0.0.1:8001/question/{{ id }}/edit">
                    <input type="submit" value="Edit">
                   </form>
           </td>

       </tr>


    </table>
<table border>
        <tr>
<!--            <th>Id</th>-->
<!--            <th>submission_time</th>-->
<!--            <th>view_number</th>-->
<!--            <th>vote_number</th>-->
            <th>title</th>
            <th>message</th>
<!--            <th>image</th>-->
        </tr>
        {% for value in question %}
            <tr>
<!--                <td >-->
<!--                    {{ value['id'] }}-->
<!--                </td>-->
<!--                <td>{{ value["submission_time"] }}</td>-->
<!--                <td>{{ value["view_number"] }}</td>-->
<!--                <td>{{ value["vote_number"] }}</td>-->
                <td>{{ value["title"] }}</td>
                <td>{{ value["message"] }}</td>
<!--                <td>{{ value["image"] }}</td>-->

            </tr>
        {% endfor %}


</table>
<h1></h1>
<table

       <tr>
           <td>
               <form action="http://127.0.0.1:8001/questions/{{ id }}/add_answer">
                    <input type="submit" value="Add new answer">
                   </form>
           </td>

       </tr>


    </table>

<h1>Answers</h1>
<table border>
    id,submission_time,vote_number,question_id,message,image
        <tr>
            <th>Id</th>
            <th>submission_time</th>
            <th>vote_number</th>
            <th>question_id</th>
            <th>message</th>
            <th>image</th>
        </tr>
        {% for value in answers %}
            <tr>
                <td >
                    {{ value['id'] }}
                </td>
                <td>{{ value["submission_time"] }}</td>
                <td>{{ value["vote_number"] }}</td>
                <td>{{ value["question_id"] }}</td>
                <td>{{ value["message"] }}</td>
                <td>{{ value["image"] }}</td>
                <td>
                    <form action="http://127.0.0.1:8001/answer/{{ value['id'] }}/delete?qid={{ id }}", method="POST">
                    <input type="submit" value="Delete">
                   </form>
                </td>
                <td>
                    <form action="http://127.0.0.1:8001/answer/{{ value['id'] }}/vote_up?qid={{ id }}", method="POST">
                    <input type="submit" value="Vote UP">
                   </form>
                </td>
                <td>
                    <form action="http://127.0.0.1:8001/answer/{{ value['id'] }}/vote_down?qid={{ id }}", method="POST">
                    <input type="submit" value="Vote Down">
                   </form>
                </td>

            </tr>
        {% endfor %}


</table>

</body>
</html>